[Desktop Entry]
Name=S.T.A.L.K.E.R. Welcome
Comment=S.T.A.L.K.E.R. Welcome Application
Exec=stalker-welcome
Icon=stalker-logo
Type=Application
Categories=System;
