[Desktop Entry]
Type=Application
Version=1.0
Name=Install The Zone
Name[da]=Installer The Zone 
GenericName=Live Installer
GenericName[da]=Live-installationsprogram
Comment=Install the operating system to disk
Comment[da]=Installer styresystemet på disk
Comment[de]=The Zone installieren
Exec=xfce4-terminal -x /usr/bin/calamares_polkit %f -d
Icon=/usr/share/zone.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
